* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
body {
    width: 960px;
    margin: 0 auto;
    background-color: darkgrey;
    border: 1px solid #ffffff;
}
header {
    border: solid lightyellow;
    margin: 0 auto;
    text-align: center;
}
header img {
    display: block;
    margin: 0 auto;
    height: 90px;
}
main {
    /* height: 100vh; */
    border: 1px white;
    background-color: lightyellow;
}
#bio {
    background-color: lightyellow;
    height: 300px;
}
#list {
    background-color: lightyellow;
    height: 300px;
}
#icons {
    background-color: black;
}
#interest {
    background-color: lightyellow;
    height: 300px;
}
#copywrite {
    color: rgb(50, 50, 205); 
    background-color: lightyellow;
}