* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
body {
    width: 960px;
    margin: 0 auto;
    background-color: darkgrey;
    border: 1px solid black;
}
header {
    border: solid black;
    margin: 0 auto;
    text-align: center;
}
header img {
    display: block;
    margin: 0 auto;
    height: 90px;
}
main {
    /* height: 100vh; */
    border: 1px black;
    background-color: darkgrey;
}
#bio {
    background-color: darkgrey;
    height: 300px;
}
#list {
    background-color: tan;
    height: 300px;
}
#icons {
    background-color: tan;
    display: flex;
    justify-content: space-between;
  }
  
  figure {
    width: 10rem;
    text-align: center;
    font-size: small;
  }
  
  figure img{
    height: 10rem;
}
#interest {
    background-color: darkgray;
    height: 300px;
}
#copywrite {
    color: rgb(50, 50, 205); 
    background-color: tan;
}